
.App {
  text-align: center;
}

h3 {
  margin: 0;
}

.app-splash {
  padding: 100px 16px 200px;
  color: rgba(0,0,0,.72);
  background-image: radial-gradient(circle at bottom, #c2c2c2 0, #d6d6d6 100%);
  text-align: center;
}

.app-heading,
.app-subheading {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.app-heading {
  font-size: 1.4rem;
}

.app-subheading {
  margin-top: 0;
  letter-spacing: 3px;
  font-size: 1.2em;
}

.contact-list {
  padding: 0 8px;
}

.segment-icon {
  color: rgba(0,0,0,.24);
}

.app-splash + main {
  margin-top: -100px;
}

.app-container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .contact-list {
    padding: 0 32px;
  }

  .app-heading {
    font-size: 3rem;
  }

  .app-subheading {
    font-size: 1.5em;
  }
}